:root {
  --font-main: Poppins, system-ui, sans-serif;
  --font-lilita: "Lilita One", system-ui, sans-serif;
  --color-yellow: #FFB703;
  --color-pink:   #BC54A1;
  --color-red:    #EE1B25;
  --color-blue:   #1771BA;
  --color-white:  #F5F5F5;
  --color-black:  #16252E;
}

.nav_active {
  color: var(--color-red);
}

body * {
  color: var(--color-black);
  font-family: var(--font-main);
  font-weight: 500;
}

p,
span,
a,
input,
select,
textarea,
button,
div {
  font-size: 15px;
}

.font_lilita {
  font-family: var(--font-lilita);
}



.container {
  width: 100%;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.block_latest_video,
.block_latest_blog {
  position: relative;
}
.block_latest_video::before,
.block_latest_video::after,
.block_latest_blog::before,
.block_latest_blog::after {
  content: "";
  width: 400px;
  height: 900px;
  display: block;
  position: absolute;
  left: -100px;
  top: 0;
  background-image: url(../img/LeftGraphicsLong.svg);
  background-size: cover;
  background-position: right top;
  z-index: -1;
  margin-top: 85px;
}

.block_latest_video::after,
.block_latest_blog::after  {
  right: -100px;
  left: unset;

  background-image: url(../img/RightGraphicsLong.svg);
  background-position: left top;
}


.block_latest_blog::before  {
  background-image: url(../img/RightGraphicsLong.svg);
  transform: scaleX(-1)
}
.block_latest_blog::after  {
  background-image: url(../img/LeftGraphicsLong.svg);
  transform: scaleX(-1)
}

.btn {
  padding: 12px 24px;
  border-radius: 999px;
  font-family: var(--font-lilita);
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.btn_yellow {
  background: var(--color-yellow);
}

.btn_pink {
  background: var(--color-pink);
  color: #fff;
}

header, .clouds {
  background-image: url(../img/clouds.jpg);
}

.block_promo, footer {
  background-position: top;
  background-size: 140% 300%;
}