:root {
  --font-main: Poppins, system-ui, sans-serif;
  --font-lilita: "Lilita One", system-ui, sans-serif;
  --color-yellow: #FFB703;
  --color-pink:   #BC54A1;
  --color-red:    #EE1B25;
  --color-blue:   #1771BA;
  --color-white:  #F5F5F5;
  --color-black:  #16252E;
  --color-link:   #46B3E2;
}

a {
  color: var(--color-link);
}

* {
  list-style: none;
}

.nav_active {
  color: var(--color-red);
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
main {
  flex-grow: 1;
}

body {
  color: var(--color-black);
  font-family: var(--font-main);
  font-weight: 500;
  font-size: 15px;
}


.font_lilita {
  font-family: var(--font-lilita);
  letter-spacing: 2px;
  line-height: 1.1;
}

.title_40, .title_48 {
  font-family: var(--font-lilita);
  color: var(--color-yellow);
  font-size: 40px;
}

.title_48 {
  font-size: 48px;
  text-align: center;
}


/* .container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
} */

/* .block_latest_video,
.block_latest_blog {
  position: relative;
} */


.btn {
  padding: 14px 25px;
  border-radius: 999px;
  font-family: var(--font-lilita);
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: all 200ms;
  cursor: pointer;
}

.btn_yellow {
  background: var(--color-yellow);
  color: var(--color-black);
}
.btn_yellow:hover {
  color: var(--color-yellow);
  outline: 1px solid var(--color-yellow);
  background: #fff;
}

.btn_pink {
  background: var(--color-pink);
  color: #fff;
  padding-right: 20px;
  padding-left: 20px;
}
.btn_pink:hover {
  color: var(--color-pink);
  outline: 1px solid var(--color-pink);
  background: #fff;
  /* filter: brightness(80%); */
}

.btn_green {
  background: #22B473;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 4px;
  color: #fff;
  box-shadow: none;
}

.btn_green:hover {
  color: #1b8d5a;
  outline: 1px solid #1b8d5a;
  background: #fff;
}


.btn_yellow_round {
  background: #22B473;
  color: var(--color-black);
  border-width: 1px;
  border-color: var(--color-yellow);
  background: transparent;
  box-shadow: none;
  font-family: var(--font-main);
  font-size: 15px;
  font-weight: 500;
}

.btn_yellow_round:hover {
  background: var(--color-yellow);
}

header, .clouds {
  background-image: url(../img/clouds.jpg);
}

.block_promo, footer {
  background-position: top;
  background-size: 140% 300%;
}


.spacing-0, .sp-0 {
  letter-spacing: 0;
}

@media (max-width: 992px) {
  .title_40 {
    font-size: 34px;
  }
  
  .title_48 {
    font-size: 40px;
  }

}

@media (min-width: 992px) {

  
  .graphics {
    --distanse: 20%;
    position: relative;
    /* overflow: hidden; */
  }

  .graphics::before,
  .graphics::after {
    content: "";

    width: 400px;
    height: 900px;

    display: block;
    position: absolute;
    inset: 0;
    
    background-size: cover;
    /* z-index: -1; */
    margin-top: 30px;
  }

  .graphics_long::before,
  .graphics_long::after {
    height: auto;
  }

  .graphics::before { 
    top: 10px;
    left: -20px;
    transform: translateX(calc(-100% - var(--distanse)));
    background-image: url(../img/LeftGraphicsLong.svg);
    background-position: right top;
  }
  
  .graphics::after   {
    top: 45px;
    left: 99%;
    transform: translateX(var(--distanse));
    background-image: url(../img/RightGraphicsLong.svg);
    background-position: left top;
  }


  .graphics_invert::before {
    background-image: url(../img/RightGraphicsLong.svg);
    transform: translateX(calc(-100% - var(--distanse))) scaleX(-1);
    
  }
  
  .graphics_invert::after   {
    background-image: url(../img/LeftGraphicsLong.svg);
    transform: translateX(var(--distanse)) scaleX(-1);
  }
}
